.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 52px 24px;
}

.leftSide {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
}

.infoBlocks {
    display: flex;
    gap: 16px;
}

.techStack {
    padding: 0px 24px;

    .title {
        display: flex;
        align-items: flex-end;
        gap: 16px;
        margin-bottom: 48px;
    }

    .content {
        display: flex;
        justify-content: space-between;
        
        .skillBar {
            display: flex;
            gap: 48px;
        }
    }
}

.line {
    width: 100%;
    height: 4px;
    background-color: #494847;
    margin-bottom: 6px;
}