.container {
    cursor: pointer;
    padding: 3px 5px;
    font-weight: 500;
    color: rgb(23, 25, 70);
    background-color: darkgrey;
    border: 2px solid black;
    transition: ease-in-out 0.2s;
    font-size: 26px;
    border-radius: 4px;
}

.container:hover {
    padding: 3px 10px;
    box-shadow: 2px 4px 4px 2px rgba(1, 1, 1, 0.2);
}