.container {
    height: 46px;
    padding: 0px 22px;
    border-radius: 14px;
    background: linear-gradient(155deg, #26262B, #131316);
    border: 1px solid gray;
    cursor: pointer;
    color: snow;
    font-weight: 600;
}

.glow {
    background-color: #7c6cf6;
    position: absolute;
    inset: 14px;
    filter: blur(38px);
    opacity: 0.6px;
}