button:active {
    transform: translateY(2px);
}

.container {
    height: 46px;
    padding: 0px 22px;
    border-radius: 14px;
    background: linear-gradient(155deg, #26262B, #131316);
    border: 1px solid gray;
    cursor: pointer;
    color: snow;
    font-weight: 600;
}

.glow {
    height: 46px;
    padding: 0px 22px;
    border-radius: 14px;
    background: linear-gradient(155deg, #723EC3, #9FA1FF);
    border: 1px solid gray;
    cursor: pointer;
    color: snow;
    font-weight: 600;
}

.green {
    background-color: #22c55e;
    border: 1px solid #16a34a;
    color: snow;
}

.blue {
    background-color: #3b82f6;
    border: 1px solid #2563eb;
    color: snow;
}
