.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 18px;
    border-bottom: 4px solid var(--primary-color);

    a {
        text-decoration: none;
        color: inherit;
    }
}

.navLinks ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 32px;
}